Repository randaldrew/longevity-biomarker-tracker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @db-architect, @data-engineer, @backend-lead, @analytics-lead, @randaldrew

Staging final review changes
  etl/transform.ipynb
  scripts/codebase_snapshot.sh
  src/api/main.py
  tests/sample_dump.sql
  tests/test_api.py
Owners: @data-engineer, @backend-lead

Make some minor UI improvements
  src/ui/main.js
Owners: @analytics-lead

Fix get_session_details endpoint and add get_user_sessions endpoint
  src/api/main.py
Owners: @backend-lead

Fix session details display in frontend
  src/ui/main.js
Owners: @analytics-lead

Cleaned up for public display
  .github/workflows/ci.yml
  .gitignore
  LICENSE
  README.md
  TEAM_GUIDE.md
  docs/er_diagram_placeholder.md
  etl/transform.ipynb
  notebooks/exploratory.ipynb
  sql/schema.sql
  src/api/main.py
  tests/test_hd_model.py
Owners: @randaldrew, @data-engineer, @db-architect, @backend-lead

.github/CODEOWNERS:

# Core infrastructure requires approval
/sql/                @db-architect
/docker-compose.yml  @db-architect

# Team members own their own areas
/etl/                @data-engineer
/src/api/            @backend-lead
/src/ui/             @analytics-lead
/notebooks/          @data-engineer

# CI/CD and project configuration requires review
/.github/            @randaldrew
/Makefile            @randaldrew
