Repository randaldrew/longevity-biomarker-tracker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @db-architect, @data-engineer, @backend-lead, @analytics-lead, @randaldrew

.github/CODEOWNERS:

# Core infrastructure requires approval
/sql/                @db-architect
/docker-compose.yml  @db-architect

# Team members own their own areas
/etl/                @data-engineer
/src/api/            @backend-lead
/src/ui/             @analytics-lead
/notebooks/          @data-engineer

# CI/CD and project configuration requires review
/.github/            @randaldrew
/Makefile            @randaldrew

Updates: - Added demo user seed data to schema - Updated makefile to enable demo user data seed / testing - Updated documentation and TEAM_GUIDE.md - important change to startup workflow!
  Makefile
  TEAM_GUIDE.md
  sql/demo_users.sql
  sql/schema.sql
Owners: @randaldrew, @db-architect

complete transform.ipynb
  etl/download_nhanes.py
  etl/transform.ipynb
Owners: @data-engineer

Added View with Age to schema to accelerate queries.
  TEAM_GUIDE.md
  sql/schema.sql
Owners: @db-architect

Fixed config issues in load.sh and implemented two-stage loading
  Makefile
  etl/download_nhanes.py
  etl/load.sh
  sql/demo_users.sql
  tests/sample_dump.sql
Owners: @randaldrew, @data-engineer, @db-architect

Fixed config issues in load.sh and implemented two-stage loading (#10)
  requirements.txt
  src/api/main.py
Owners: @backend-lead

Replace Python UI with WIP HTML+CSS+JS UI
  src/ui/__init__.py
  src/ui/app.py
  src/ui/index.html
  src/ui/main.js
  src/ui/mockdb.js
  src/ui/styles.css
Owners: @analytics-lead

Added patch to transform.ipynb, revised load.sh, and confirmed that ETL process works
  etl/load.sh
  etl/transform.ipynb
  sql/schema.sql
Owners: @data-engineer, @db-architect

WIP backend module, currently only works for query 2
  src/api/main.py
Owners: @backend-lead

minor change for query2, to exactly fit the input's naming(user_id -> userId)
  src/api/main.py
Owners: @backend-lead

query 4 now working
  src/api/main.py
Owners: @backend-lead

query 3 now working
  src/api/main.py
Owners: @backend-lead

bug fix: Query 3 should be GET, not POST
  src/api/main.py
Owners: @backend-lead

commented out code for unfinished query 3.5
  src/api/main.py
Owners: @backend-lead

query 3.5 works only for phenotypic age
  src/api/main.py
Owners: @backend-lead

Added reference ranges to ETL
  Makefile
  etl/generate_reference_ranges.py
  etl/load.sh
  tests/test_reference_ranges.py
Owners: @randaldrew, @data-engineer

query 1 now working. also added frontend integration
  src/api/main.py
Owners: @backend-lead

query 7 now works. defaults to every model
  src/api/main.py
Owners: @backend-lead

query 8 now working
  src/api/main.py
Owners: @backend-lead

query 9, 10 now working
  src/api/main.py
Owners: @backend-lead

query 5 now works
  src/api/main.py
Owners: @backend-lead

query 5 now working
  src/api/main.py
Owners: @backend-lead

query 3.5 now works with both Phenotypic Age, and Homeostatic Dysregulation. Body defaults to { modelName: }, which is blank, which uses both models
  src/api/main.py
Owners: @backend-lead

modify startup function to not raise an error during CI
  src/api/main.py
Owners: @backend-lead

testing CI
  src/api/main.py
Owners: @backend-lead

modify startup function to not raise an error when reference_df is empty
  src/api/main.py
Owners: @backend-lead

modify ci.yml to bypass the HD model initialization during CI
  .github/workflows/ci.yml
  src/api/main.py
Owners: @randaldrew, @backend-lead

query 6 works now
  src/api/main.py
Owners: @backend-lead

fix typo
  src/api/main.py
Owners: @backend-lead

Update frontend to use real API
  Makefile
  README.md
  src/ui/index.html
  src/ui/main.js
Owners: @randaldrew, @analytics-lead

Improve UI for rerunning queries
  src/ui/index.html
  src/ui/main.js
Owners: @analytics-lead

Frontend: Add simple queries, remove streamlit references and mockDB
  TEAM_GUIDE.md
  requirements.txt
  scripts/bootstrap_venv.sh
  src/ui/index.html
  src/ui/main.js
  src/ui/mockdb.js
Owners: @analytics-lead

query 11, 12
  src/api/main.py
Owners: @backend-lead

query 11 changed to get rid of redundancy
  src/api/main.py
Owners: @backend-lead

Add range input for biomarker trend query
  src/ui/main.js
Owners: @analytics-lead

Implement visualizations and update query 11
  src/ui/index.html
  src/ui/main.js
  src/ui/styles.css
Owners: @analytics-lead

Query11 revised to get rid of redundancy (#29)
  src/api/main.py
Owners: @backend-lead

Fix biomarker trend query
  src/ui/main.js
Owners: @analytics-lead

Query 11, 12 works now (#28)
  src/api/main.py
Owners: @backend-lead

fixed couple of comments
  src/api/main.py
Owners: @backend-lead

Staging final review changes
  .github/workflows/ci.yml
  Makefile
  scripts/codebase_snapshot.sh
  scripts/explain_trend.py
  src/api/main.py
  tests/test_api.py
  tests/test_hd_model.py
  tests/test_seed_data.py
Owners: @randaldrew, @backend-lead
